extends layout

block content
   .module__body(data-services=services, data-timer=timer)
    .services
      .services__block.js-service(data-service='github')
        include loading
        img.services__block__logo.js-status(src=versionPath('images/github.svg'))
        .services__block__text
          | Github

      .services__block.js-service(data-service='pivotaltracker')
        include loading
        img.services__block__logo.js-status(src=versionPath('images/pivotal.svg'))
        .services__block__text
          | Pivotal Tracker

      .services__block.js-service(data-service='npm-registry')
        include loading
        img.services__block__logo.js-status(src=versionPath('images/npm.svg'))
        .services__block__text
          | Private

      .services__block.js-service(data-service='clocknpm')
        include loading
        img.services__block__logo.js-status(src=versionPath('images/npm.svg'))
        .services__block__text
          | Public

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src=versionPath('/javascripts/index.js'))
